In [3]:
import numpy as np 
import pandas as pd

In [5]:
country = ['India','Pakistan','Usa','Nepal','Srilanka']
country = pd.Series(country)

In [ ]:
country # string in pandas is called object

0       India
1    Pakistan
2         Usa
3       Nepal
4    Srilanka
dtype: object

In [7]:
# integer 
runs = [19,20,30,45]

runs = pd.Series(runs)

In [8]:
# integer 
runs = [19,20,30,45]
name = ['r','s','k','t']

runs = pd.Series(runs,index=name)

In [9]:
runs

r    19
s    20
k    30
t    45
dtype: int64

In [10]:
# integer 
runs = [19,20,30,45]
name = ['r','s','k','t']

runs = pd.Series(runs,index=name,name='suraj')

In [11]:
runs

r    19
s    20
k    30
t    45
Name: suraj, dtype: int64

In [13]:
marks = {
    'english':80,
    'hindi' : 90
    
}

marks = pd.Series(marks,name='hindi')

In [14]:
marks

english    80
hindi      90
Name: hindi, dtype: int64